<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--声明bean对象-->
    <bean id="myCat" class="com.hongshu.vo.Cat">
        <property name="name" value="Tom" />
        <property name="age" value="5" />
        <property name="cardId" value="MAO123456" />
    </bean>
</beans>